[Desktop Entry]
Version=1.0
Name=Sopcast Launcher
GenericName=Media player
Comment=Open Sopcast links with VLC Media Player
Exec=/usr/bin/sopcast-launcher %u
TryExec=/usr/bin/sopcast-launcher
Icon=vlc
Terminal=false
Type=Application
MimeType=x-scheme-handler/sop;
X-KDE-Protocols=sop
NoDisplay=true
